*{
    -fx-color-label-visible: white;
}

.backgroundContainer {
    -fx-background-image: url("../img/4k-european-union-flag-silk-flag-europe-national-symbols.jpg");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);

    -fx-pref-height: 400px;
    -fx-pref-width: 650px;
}

.transparent {
    -fx-opacity: 0%;
}

.lightGrayBackground {
    -fx-background-color: lightgray;
}