/*.footer {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/
body {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

hr.separator {
    border-top: 3px solid darkgoldenrod;
}

hr.separator-thin {
    border-top: 1px solid darkgoldenrod;
}

.my-dark-blue {
    color: #004494;
}