<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container rounded rounded-3 bg-light min-height-cover">
    <div class="container row">
        <div class="row mx-auto mt-4 mb-2">
            <div class="col-1">
                <img class="float-start img-fluid border p-o border-dark border-1 rounded rounded-2"
                     th:src="@{/img/countries/{cc}(cc=${schemeTerritory})}"
                     th:alt="${schemeTerritory}">
            </div>
            <!--            <div class="col-1"></div>-->
            <div class="col-10">
                <h1 class="float-start"
                    th:text="'Trusted List ' + ${@STICountries.getCountry(schemeTerritory)}"></h1>
            </div>
            <div class="col-1">
                <div th:replace="~{fragments/warnings :: warning-dropdown}"></div>
            </div>
        </div>
    </div>
    <hr class="separator">

    <div class="container row my-3 py-3">
        <h3 class="float-start m-3"> Trust Service Providers </h3>

        <div id="activeTspAccordion" class="my-2">
            <div class="card">
                <div class="card-header my-bg-gray">
                    <a class="btn w-100 text-start" data-bs-toggle="collapse" href="#activeTspAccordionBody">
                        <strong>Currently active trust service providers</strong>
                    </a>
                </div>
                <div id="activeTspAccordionBody" class="collapse show" data-bs-parent="#activeTspAccordion">
                    <div class="card-body">
                        <div class="container d-flex justify-content-between align-content-around align-items-center flex-wrap p-1">
                            <th:block th:each="i: ${#numbers.sequence(0, tspList.size() - 1)}">
                                <th:block th:if="${tspList.get(i).isActiveStatus()}">
                                    <div style="width: 600px">
                                        <div class="m-2 p-2 border-bottom border-1 align-self-stretch">
                                            <div class="row">
                                                <h6>
                                                    <a class="text-decoration-none my-underline-hover my-dark-blue my-bold"
                                                       th:text="${tspList[i].getTspName()}"
                                                       th:href="@{/tlbrowser/{schemeTerritory}/{id}(schemeTerritory=${schemeTerritory},id=${tspList[i].getId()})}"></a>
                                                    <th:block th:each="qual: ${tspList[i].getQuals()}">
                                                        <span th:if="${qual.substring(0,1).startsWith('Q')}"
                                                              class="text-black badge bg-warning my-lighter"
                                                              th:text="${qual}"></span>
                                                    </th:block>
                                                    <th:block th:each="qual: ${tspList[i].getQuals()}">
                                                        <span th:if="${!qual.substring(0,1).startsWith('Q') && !qual.equals('Non-Regulatory')}"
                                                              class="text-black badge bg-secondary my-lighter"
                                                              th:text="${qual}"></span>
                                                    </th:block>
                                                    <th:block
                                                            th:if="${tspList[i].getQuals().contains('Non-Regulatory')}">
                                                        <span class="text-black badge bg-secondary my-lighter">Non-Regulatory</span>
                                                    </th:block>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:if="${displayInactive != null and displayInactive == true}">
            <div id="inactiveTspAccordion" class="my-2">
                <div class="card">
                    <div class="card-header my-bg-gray">
                        <a class="btn w-100 text-start" data-bs-toggle="collapse" href="#inactiveTspAccordionBody">
                            <strong>Trust service providers without curently active trust services</strong>
                        </a>
                    </div>
                    <div id="inactiveTspAccordionBody" class="collapse" data-bs-parent="#inactiveTspAccordion">
                        <div class="card-body">
                            <div class="container d-flex justify-content-between align-content-around align-items-center flex-wrap p-1">
                                <th:block th:each="i: ${#numbers.sequence(0, tspList.size() - 1)}">
                                    <th:block th:if="${!tspList.get(i).isActiveStatus()}">
                                        <div style="width: 600px">
                                            <div class="m-2 p-2 border-bottom border-1 align-self-stretch">
                                                <div class="row">
                                                    <h6>
                                                        <a class="text-decoration-none my-dark-blue my-bold"
                                                           th:text="${tspList[i].getTspName()}"
                                                           th:href="@{/tlbrowser/{schemeTerritory}/{i}(schemeTerritory=${schemeTerritory},i=${tspList[i].getId()})}"></a>
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

        <hr class="separator m-2">

        <div id="detailedInformationAccordion" class="my-2">
            <div class="card">
                <div class="card-header my-bg-gray">
                    <a class="btn w-100 text-start" data-bs-toggle="collapse" href="#detailedInformationAccordionBody">
                        <strong>Detailed Information</strong>
                    </a>
                </div>
                <div id="detailedInformationAccordionBody" class="collapse p-4"
                     data-bs-parent="#detailedInformationAccordion">
                    <div class="card-body">

                        <div id="pointersToOtherTslAccordion" class="my-2">
                            <div class="card-header my-bg-gray">
                                <a class="btn w-100 text-start" data-bs-toggle="collapse"
                                   href="#pointersToOtherTslAccordionBody">
                                    <strong>Pointers to other TSL</strong>
                                </a>
                            </div>
                            <div id="pointersToOtherTslAccordionBody"
                                 class="collapse p-1 rounded-bottom rounded-bottom-1 border border-1"
                                 data-bs-parent="#pointersToOtherTslAccordion">
                                <div class="card-body">
                                    <div class="container">
                                        <div th:each="pointer : ${otslp}" class="row mx-1 my-1">
                                            <div class="col-2">
                                                <a class="my-dark-blue text-decoration-none"
                                                   th:href="@{/tlbrowser/{cc}(cc=${pointer.getSchemeTerritory()})}"
                                                   th:text="${pointer.getSchemeTerritory() + ' (XML)'}"></a>
                                            </div>
                                            <div class="col-10">
                                                <span class="" th:text="${pointer.getTslLocation()}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="trustedListInformationAccordion" class="my-2">
                            <div class="card-header my-bg-gray">
                                <a class="btn w-100 text-start" data-bs-toggle="collapse"
                                   href="#trustedListInformationAccordionBody">
                                    <strong>Trusted list information</strong>
                                </a>
                            </div>
                            <div class="collapse p-1 rounded-bottom rounded-bottom-1 border border-1"
                                 id="trustedListInformationAccordionBody"
                                 data-bs-parent="#trustedListInformationAccordion">
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">TSL Tag</h6>
                                            </div>
                                            <div class="row">
                                                <a class="my-dark-blue text-decoration-none"
                                                   href="http://uri.etsi.org/19612/TSLTag">
                                                    http://uri.etsi.org/19612/TSLTag
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Version identifier</h6>
                                            </div>
                                            <div class="row">
                                                <span th:text="${tl.getTslVersionIdentifier()}"></span>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Territory</h6>
                                            </div>
                                            <div class="row">
                                                <span th:text="${tl.getSchemeTerritory()}"></span>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">TSL Issuer</h6>
                                            </div>
                                            <div class="row">
                                                <span th:text="'TL - ' + ${tl.getSchemeTerritory()} + ' (Sn' + ${tl.getTslSequenceNumber()} + ')'"></span>
                                            </div>
                                        </div>
                                        <div class="row my-3 ">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Sequence number</h6>
                                            </div>
                                            <div class="row">
                                                <span th:text="${tl.getTslSequenceNumber()}"></span>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">TSL type</h6>
                                            </div>
                                            <div class="row">
                                                <a class="text-decoration-none my-dark-blue"
                                                   th:href="${tl.getTslType().getValue()}"
                                                   th:text="${tl.getTslType().getValue()}"></a>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Operator name</h6>
                                            </div>
                                            <div class="row">
                                                <span th:text="${tl.getSchemeOperatorName()}"></span>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Postal address</h6>
                                            </div>
                                            <div th:each="address : ${tl.getPostalAddresses()}" class="row">
                                                <span th:text="${address.toString()}"></span>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Electronic Address</h6>
                                            </div>
                                            <div class="row" th:each="email : ${tl.getElectronicAddresses()}">
                                                <a class="my-dark-blue text-decoration-none" th:href="${email}"
                                                   th:text="${email} + ';'"></a>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Scheme name</h6>
                                            </div>
                                            <div class="row">
                                                <span class="text-wrap" th:text="${tl.getSchemeName()}"></span>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Information URI</h6>
                                            </div>
                                            <div class="row" th:each="uri : ${tl.getSchemeInformationURI()}">
                                                <a class="text-decoration-none my-dark-blue"
                                                   th:href="${uri}"
                                                   th:text="${uri} + ';'"></a>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Status determination approach</h6>
                                            </div>
                                            <div class="row">
                                                <a class="text-decoration-none my-dark-blue"
                                                   th:href="${tl.getStatusDeterminationApproach()}"
                                                   th:text="${tl.getStatusDeterminationApproach()}"></a>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Community rules</h6>
                                            </div>
                                            <div class="row" th:each="rule : ${tl.getSchemeTypeCommunityRules()}">
                                                <a class="my-dark-blue text-decoration-none"
                                                   th:href="${rule}"
                                                   th:text="${rule}"></a>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Legal notice</h6>
                                            </div>
                                            <div class="row">
                                                <span th:text="${tl.getPolicyOrLegalNotice()}"></span>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Issue date</h6>
                                            </div>
                                            <div class="row">
                                                <span th:text="${issueDate}"></span>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Next update</h6>
                                            </div>
                                            <div class="row">
                                                <span th:text="${nextUpdate}"></span>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Distribution points</h6>
                                            </div>
                                            <div class="row">
                                                <a class="my-dark-blue text-decoration-none"
                                                   th:href="${tl.getDistributionPoint()}"
                                                   th:text="${tl.getDistributionPoint()}"></a>
                                            </div>
                                        </div>
                                        <div class="row my-3">
                                            <div class="row mb-0 pb-0">
                                                <h6 class="my-bold mb-0">Historical period</h6>
                                            </div>
                                            <div class="row">
                                                <span th:text="${tl.getHistoricalInformationPeriod()}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/bootstrap-5.3.1-alpha/bootstrap.bundle.min.js}"></script>
</body>
</html>