<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <link th:href="@{/css/bootstrap-5.3.1-alpha/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/styles.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <meta charset="UTF-8">
  <title>EU Trusted List Browser</title>
</head>
<body>
<div th:fragment="header">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img th:src="@{/img/logo-ec-cut.jpg}" alt="European Commission Logo" style="width: 40px;"
             class="img-fluid"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/tlbrowser}">Browse Trusted Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/validateSignature}">Verify a signature</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/validateCertificate}">Verify a certificate</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</body>
</html>