<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="alint" packages="com.alint.disertatie.server.javaresteutlproviderapi">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%p] %d{yyyy-MM-dd HH:mm:ss} %C - %m%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=black, DEBUG=green bold, TRACE=blue}"/>
        </Console>
        <File name="fout" fileName="app.log" append="true">
            <PatternLayout>
                <Pattern>%p %d{yyyy-MM-dd HH:mm:ss} %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="fout"/>
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>
